{% extends "layouts/application.tpl.twig" %}

{% block content %}
<div class="row-fluid">
  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">All Posts - <a class="label label-inverse" href="/admin/posts/new">New Post</a></div>
    </div>
    <div class="block-content collapse in">
      <div class="span12">
        {% if app.notification is defined %}
        <div class="alert alert-info">
          <button class="close" data-dismiss="alert">&times;</button>
          {{ app.notification }}
        </div>
        {% endif %}
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
          <thead>
            <tr>
              <th>Title</th>
              <th>Categories</th>
              <th>Author</th>
              <th>Publish Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for post in app.posts %}
            <tr class="odd gradeX">
              <td><a href="">{{ post.title }}</a></td>
              <td>
              {% for category in post.categories %}
              {{ category.name }}
              {% endfor %}
              </td>
              <td>{{ post.author.name }}</td>
              <td>{{ post.publishDate }}</td>
              <td>
                <a href="/admin/post/{{ post.filename }}/edit" class="label label-info">edit</a>
                <a href="/admin/post/{{ post.file }}/delete" class="label label-important">delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>
{% endblock %}