{% extends "layouts/application.tpl.twig" %}

{% block content %}
<div class="row-fluid">
  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">Setting</div>
    </div>
    <div class="block-content collapse in">
      <div class="span12">
        <form class="form-horizontal" action="/admin/setting/edit" method="post">
          <fieldset>
            <legend>Update Setting</legend>
            {% if app.errors is defined %}
            <div class="alert alert-error">
              <button class="close" data-dismiss="alert">&times;</button>
              {% for error in app.errors %}
              {{ error.propertyPath }} {{ error.message }}<br>
              {% endfor %}
            </div>
            {% endif %}
            {% if app.success is defined %}
            <div class="alert alert-info">
              <button class="close" data-dismiss="alert">&times;</button>
              {{ app.success }}
            </div>
            {% endif %}
            <div class="control-group">
              <label class="control-label" for="title">Title* </label>
              <div class="controls">
                <input type="text" class="span6" name="title" value="{{ app.form.title }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="tagline">Tagline* </label>
              <div class="controls">
                <input type="text" class="span6" name="tagline" value="{{ app.form.tagline }}">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="pagination">Pagination* </label>
              <div class="controls">
                <select name="pagination" class="chzn-select">
                  {% set selected = null %}
                  {% for pagination in app.paginations %}
                  {% if pagination == app.form.pagination %}
                  {% set selected = 'selected' %}
                  {% endif %}
                  <option value="{{ pagination }}" {{ selected }}>{{ pagination }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">Update</button>
              <button type="reset" class="btn">Cancel</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>
{% endblock %}